<!doctype html>
{% extends "header.html" %}

{% block content %}

<!-- Display recently added items -->
<div class="container">
  <h2>Recently Added Items</h2>
  <hr />
  <div class="list-group">
    {% if logged_in %}
      <table class="table table-striped">
        <tbody>
          {% for r in recent_items %}
          <tr>
            <td><a href="/catalog/{{ r.category.category }}/{{ r.item_name }}">{{ r.item_name }}</a></td>
            <td><a href="/edit_item/{{ r.category.category }}/{{ r.item_name }}">Edit</a></td>
            <td><a href="/delete_item/{{ r.item_name }}">Delete</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% for r in recent_items %}
      <a href="/catalog/{{ r.item_name }}"
          class="list-group-item list-group-item-action">{{ r.item_name }}</a>
      {% endfor %}
    {% endif %}

  </div>
</div>

{% endblock %}
