<!doctype html>
<html lang="en">
  <head>
    <title>Catalog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- display Google log in button or log out link depending on current
          user state -->
    <nav id="header"
          class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        {% if not logged_in %}
        <span class="g-signin"
          data-scope="openid"
          data-clientid="1042006042761-c8ipkk3qvskr5l61d73ltgaauos7v1sv.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
        </span>
        {% else %}
        <a href="/gdisconnect">Log Out</a>
        {% endif %}
    </nav>
    <!-- main navigation links -->
    <main>
        <ul class="nav flex-column float-left">
          {% if logged_in %}
          <h4>Actions</h4>
          <li class="nav-item list-group-item">
            <b><a class="nav-link" href="/add_item">Add Items</a></b>
          </li>
          <br />
          {% endif %}
          <h4>Catalog - JSON Data</h4>
          <li class="nav-item list-group-item">
            <a class="nav-link"
              href="/JSON">JSON</a>
          </li>
          <br>  
          <h4>Categories</h4>
          {% for c in cat %}
            <li class="nav-item list-group-item">
              <a class="nav-link"
              href="/categories/{{ c.category }}">{{ c.category }}</a>
            </li>
          {% endfor %}
        </ul>

      {% block content %}
      {% endblock %}
    </main>


    <!-- JavaScript for Google Signin-->
    <script src="https://apis.google.com/js/client:platform.js?onload=start"
            async
            defer>
    </script>
    <!--- <script src="{{ url_for('static', filename='js/script.js') }}"></script> --->
    <script>{% include "js/script.js" %}
    </script>
    <!-- Bootstrap - jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous">
    </script>
  </body>
</html>
